[ req ]
default_bits                  = 4096
default_md                    = sha256
distinguished_name            = subject
x509_extensions               = x509_ext
string_mask                   = utf8only
prompt                        = no

[ subject ]
countryName                   = GB
stateOrProvinceName           = Berkshire
localityName                  = Wokingham
organizationName              = Cloud Eat Cloud
organizationalUnitName        = IT
emailAddress                  = ca@cloudeatcloud.com
commonName                    = Cloud Eat Cloud CA

[ x509_ext ]
subjectKeyIdentifier          = hash
authorityKeyIdentifier        = keyid,issuer
basicConstraints              = CA:TRUE, pathlen:1
keyUsage                      = keyCertSign, cRLSign
nsComment                     = "OpenSSL Generated CA Certificate"