[ req ]
default_bits        = 4096
default_md          = sha256

# base request
distinguished_name  = subject

# extensions
req_extensions = v3_req

# distinguished_name
[ subject ]
countryName         = "GB"
stateOrProvinceName = "Berkshire"
localityName        = "Reading"
organizationName    = "CGI UK Limited"
organizationalUnitName = "SDNCS"
commonName          = "uk-ljfw0f72.groupinfra.com"
emailAddress        = "anthony.colby@cgi.com"


# req_extensions
[ v3_req ]
subjectAltName = @alternate_names


[ alternate_names ]

DNS.1       = uk-ljfw0f72
DNS.2       = uk-ljfw0f72.local
DNS.3       = localhost
DNS.4       = localhost.localdomain
IP.1      = 127.0.0.1
IP.2      = ::1