[ req ]
default_bits                  = 4096
default_md                    = sha256
distinguished_name            = subject
req_extensions                = req_ext
x509_extensions               = req_ext
string_mask                   = utf8only
prompt                        = no

[ subject ]
countryName                   = GB
stateOrProvinceName           = Berkshire
localityName                  = Reading
organizationName              = Cloud Eats Cloud
organizationalUnitName        = IT
emailAddress                  = web@cloudeatscloud.com
commonName                    = Cloud Eat Cloud Dev Web Server

[ req_ext ]
subjectKeyIdentifier          = hash
basicConstraints              = CA:FALSE
keyUsage                      = digitalSignature, keyEncipherment
subjectAltName                = @alt_names
nsComment                     = "OpenSSL Generated Web Server Certificate"
extendedKeyUsage              = serverAuth

[ alt_names ]
DNS.1                         = web.cloudeatcloud.com       
DNS.2                         = localhost
DNS.3                         = localhost.local
DNS.4                         = localhost.localdomain
DNS.5                         = 127.0.0.1
DNS.6                         = ::1
IP.1                          = 127.0.0.1
IP.2                          = ::1